# Løsningsforslag - Notebook 2 (Oppgaver 11-20)

Her er løsningsforslagene for de neste 10 oppgavene.

## Oppgave 11

Skriv ut alle tallene fra listen `tall` ved bruk av en for-løkke.

In [11]:
# Løsning:
tall = list(range(1, 11))
for t in tall:
    print(t)

1
2
3
4
5
6
7
8
9
10

## Oppgave 12

Finn summen av tallene i listen `tall` ved bruk av en for-løkke.

In [12]:
# Løsning:
sum_tall = 0
for t in tall:
    sum_tall += t
print(sum_tall)

55

## Oppgave 13

Lag en ny liste som inneholder kvadratet av tallene fra `1` til `10`.

In [13]:
# Løsning:
kvadrater = [t**2 for t in tall]
print(kvadrater)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Oppgave 14

Skriv ut summen av tallene i listen `tall` kun dersom de er partall.

In [14]:
# Løsning:
sum_partall = 0
for t in tall:
    if t % 2 == 0:
        sum_partall += t
print(sum_partall)

30

## Oppgave 15

Bruk en while-løkke for å telle ned fra 10 til 1 og skriv ut "Ferdig!" etterpå.

In [15]:
# Løsning:
teller = 10
while teller > 0:
    print(teller)
    teller -= 1
print("Ferdig!")

10
9
8
7
6
5
4
3
2
1
Ferdig!

## Oppgave 16

Skriv ut de første 10 multiplene av `3` ved hjelp av en for-løkke.

In [16]:
# Løsning:
for i in range(1, 11):
    print(i * 3)

3
6
9
12
15
18
21
24
27
30

## Oppgave 17

Lag en liste `dager` som inneholder navnene på ukedagene. Bruk en for-løkke for å skrive ut hver dag i uken.

In [17]:
# Løsning:
dager = ['Mandag', 'Tirsdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lørdag', 'Søndag']
for dag in dager:
    print(dag)

Mandag
Tirsdag
Onsdag
Torsdag
Fredag
Lørdag
Søndag

## Oppgave 18

Lag en tom liste `firkanttall`. Bruk en for-løkke for å legge til kvadratet av tallene fra `1` til `10` i listen.

In [18]:
# Løsning:
firkanttall = []
for t in range(1, 11):
    firkanttall.append(t**2)
print(firkanttall)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Oppgave 19

Bruk en for-løkke for å telle antall bokstaver i ordet `"programmering"`.

In [19]:
# Løsning:
ordet = "programmering"
antall_bokstaver = 0
for bokstav in ordet:
    antall_bokstaver += 1
print(antall_bokstaver)

13

## Oppgave 20

Skriv ut alle oddetall fra `1` til `20` ved hjelp av en for-løkke.

In [20]:
# Løsning:
for t in range(1, 21):
    if t % 2 != 0:
        print(t)

1
3
5
7
9
11
13
15
17
19