# Løsningsforslag - Notebook 3 (Oppgaver 21-30)

Her er løsningsforslagene for de neste 10 oppgavene.

## Oppgave 21

Lag en variabel `tekst` som inneholder setningen "Python er gøy!". Skriv ut lengden på setningen.

In [11]:
# Løsning:
tekst = "Python er gøy!"
print(len(tekst))

14

## Oppgave 22

Lag en for-løkke som skriver ut tallene fra `1` til `10`, men hopp over tallet `5`.

In [12]:
# Løsning:
for t in range(1, 11):
    if t == 5:
        continue
    print(t)

1
2
3
4
6
7
8
9
10

## Oppgave 23

Skriv ut tallet `10`, men bryt ut av løkken dersom tallet når `5`.

In [13]:
# Løsning:
for t in range(1, 11):
    if t == 5:
        break
    print(t)

1
2
3
4

## Oppgave 24

Lag en liste `karakterer` med tall fra `1` til `6`. Bruk en for-løkke for å beregne gjennomsnittskarakteren.

In [14]:
# Løsning:
karakterer = [1, 2, 3, 4, 5, 6]
sum_karakterer = 0
for karakter in karakterer:
    sum_karakterer += karakter
gjennomsnitt = sum_karakterer / len(karakterer)
print(gjennomsnitt)

3.5

## Oppgave 25

Lag en variabel `navn` som inneholder navnet ditt. Skriv ut navnet i store bokstaver.

In [15]:
# Løsning:
navn = "Ola Nordmann"
print(navn.upper())

OLA NORDMANN

## Oppgave 26

Lag en ny liste `hobbyer` som inneholder tre hobbyer. Skriv ut hver hobby ved bruk av en for-løkke.

In [16]:
# Løsning:
hobbyer = ['fotball', 'sjakk', 'lesing']
for hobby in hobbyer:
    print(hobby)

fotball
sjakk
lesing

## Oppgave 27

Lag en tom liste `resultater`. Bruk en for-løkke for å legge til resultatet av multiplikasjonstabellen for `2` i listen.

In [17]:
# Løsning:
resultater = []
for t in range(1, 11):
    resultater.append(t * 2)
print(resultater)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Oppgave 28

Lag en liste `farger` som inneholder tre forskjellige farger. Skriv ut hver farge.

In [18]:
# Løsning:
farger = ['rød', 'blå', 'grønn']
for farge in farger:
    print(farge)

rød
blå
grønn

## Oppgave 29

Lag en tom liste `mynter`. Bruk en for-løkke for å legge til verdiene av mynter (1, 5, 10, 20) i listen.

In [19]:
# Løsning:
mynter = []
verdier = [1, 5, 10, 20]
for verdi in verdier:
    mynter.append(verdi)
print(mynter)

[1, 5, 10, 20]

## Oppgave 30

Lag en variabel `pris` med en verdi på 100. Skriv ut "Kjøp" dersom prisen er mindre enn 150.

In [20]:
# Løsning:
pris = 100
if pris < 150:
    print("Kjøp")

Kjøp