# Prøve - Databehandling

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.terminal.shortcuts.auto_suggest import accept

plt.style.use(['ggplot'])
sns.set_palette("deep", 10)
sns.set(rc={'figure.figsize':(10, 8)})

## Dow Jones

In [7]:
dj = sns.load_dataset('dowjones')
dj.head()

        Date  Price
0 1914-12-01  55.00
1 1915-01-01  56.55
2 1915-02-01  56.00
3 1915-03-01  58.30
4 1915-04-01  66.45

### Oppgave 0

Lag et plot over prisutviklingen til Dow Jones indeksen.

### Oppgave 1

Presenter dagen med lavest verdi og dagen med høyest verdi. Hva var prisen de dagene?

## F1 drivers

In [4]:
f1 = pd.read_csv('F1DriversDataset.csv', sep=',')
f1.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
0,Carlo Abate,Italy,"[1962, 1963]",0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1960,0.0,0.000000,0.0,0.0,0.0,0.000000,2,False
1,George Abecassis,United Kingdom,"[1951, 1952]",0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1950,0.0,1.000000,0.0,0.0,0.0,0.000000,2,False
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0.0,10.0,3.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.300000,0.0,0.0,0.0,0.000000,2,False
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0.0,36.0,30.0,0.0,0.0,0.0,0.0,...,NaN,1970,0.0,0.833333,0.0,0.0,0.0,0.166667,5,False
4,Philippe Adams,Belgium,[1994],0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1990,0.0,1.000000,0.0,0.0,0.0,0.000000,1,False

### Oppgave 0

Presenter antallet som har blitt 'Champion' og antallet som ikke har blitt det.

### Oppgave 1

Hvem har flest raskeste runder og hvor mange?

In [13]:
f1.sort_values(by="Fastest_Laps", ascending = False)[["Driver", "Fastest_Laps"]].head(5)

                 Driver  Fastest_Laps
710  Michael Schumacher          77.0
338      Lewis Hamilton          61.0
635      Kimi Räikkönen          46.0
628         Alain Prost          41.0
812    Sebastian Vettel          38.0

### Oppgave 2

Presenterer de fem som har vunnet flest ganger og hvor mange ganger de har vunnet

### Oppgave 3
Presenterer de ti med høyes podiumsrate. Vis 'Driver', 'Podium_Rate', 'Decade' og 'Nationality'.

### Oppgave 4

Lag et histogram (histplot) over 'Years_Active'. Sett binwidth=2

### Oppgave 5

Lag et passende diagram som viser de 20 som har vunnet "serien" (er Champion) og antall seiere.

### Oppgave 6

Presenter total antall førsteplasser til de 20 mestvinnende nationalitetene

### Oppgave 7

Av de som har blitt 'Champion', hva er gjennomsnitt antall ganger de har vunnet?

### Oppgave 8

Vis alle kjørere som har over 13 seiere oppdelt etter nationalitet.

### Oppgave 9

Hvor mange ulike nationaliteter har blitt representert?

### Ekstraoppgave

Hvem kan ha blitt 'Champion' i 1983?