4. Skrive ut tall fra 1 til 10 med en melding Lag en for-løkke som skriver ut tallene fra 1 til 10, men legg til en melding som “Dette er tall X” for hvert tall.

In [2]:
for tall in range(1, 11):
    print("Dette er tall", tall)

Dette er tall 1
Dette er tall 2
Dette er tall 3
Dette er tall 4
Dette er tall 5
Dette er tall 6
Dette er tall 7
Dette er tall 8
Dette er tall 9
Dette er tall 10

In [3]:
for tall in range(1, 11):
    print(f"Dette talle er {tall}")

Dette talle er 1
Dette talle er 2
Dette talle er 3
Dette talle er 4
Dette talle er 5
Dette talle er 6
Dette talle er 7
Dette talle er 8
Dette talle er 9
Dette talle er 10

Dette talle er 1
Dette talle er 2
Dette talle er 3
Dette talle er 4
Dette talle er 5
Dette talle er 6
Dette talle er 7
Dette talle er 8
Dette talle er 9
Dette talle er 10